<ActionBar [title]="title">
    <ActionItem text="OK" (tap)="confirmSettings()"></ActionItem>
    <!--
    <ActionItem>
        <NavigationButton text="go back" android.systemIcon="ic_menu_back"></NavigationButton>
    </ActionItem>
    -->
</ActionBar>
<StackLayout horizontalAlignment="left">
    <StackLayout orientation="horizontal" horizontalAlignment="left" class="begin-block">
        <Label text="personal info" class="settingslabel"></Label>
    </StackLayout>
    <StackLayout horizontalAlignment="stretch">       
        <TextField 
            [(ngModel)]="settings.name" 
            hint="name" 
            keyboardType="name"
            class="settingsfield"
            >
        </TextField>
    </StackLayout>
    <!--
    <StackLayout class="horizontal-line" horizontalAlignment="stretch"> 
        <Label text=" "></Label>
    </StackLayout>
    -->
    <StackLayout orientation="horizontal" horizontalAlignment="stretch" class="begin-block">
        <Label text="authentication" class="settingslabel"></Label>
        <Switch 
            [(ngModel)]="settings.authEnabled" 
            (ngModelChange)="authEnabledChanged($event)" 
            >
        </Switch>
    </StackLayout>
    <StackLayout #authContainer horizontalAlignment="stretch">
        <TextField 
            [(ngModel)]="settings.username" 
            [isEnabled]="settings.authEnabled" 
            hint="email address" 
            keyboardType="email"
            class="settingsfield"
            >
        </TextField>
        <TextField 
            [(ngModel)]="settings.password" 
            [isEnabled]="settings.authEnabled"
            hint="password" 
            secure="true" 
            class="settingsfield"
            >
        </TextField>
    </StackLayout>
    <!--
    <StackLayout class="horizontal-line" horizontalAlignment="stretch"> 
        <Label text=" "></Label>
    </StackLayout>
    -->
</StackLayout>